<div class="partialContainer menuContainer">
    <div class="imgContainer">

        <img src="/assets/img/kiritaHermosa .png" alt="kiritaHermosa" title="kiritaHermosa" class="kirita">

    </div>

    <div class="categoriesContainer">

        <ul class="menu mainMenu">
            <li class="shirts">

                <a href="#" class="menuAnchor camisetas">Camisetas</a>

                <ul class="menu subMenu">

                    <li><a href="#" class="menuAnchor">Hombre</a></li>

                    <li><a href="#" class="menuAnchor">Mujer</a></li>

                </ul>

            </li>


            <li><a href="#" class="menuAnchor">Pantalones</a></li>
            <li><a href="#" class="menuAnchor">Vestidos</a></li>
            <li><a href="#" class="menuAnchor">Chaquetas</a></li>
            <li><a href="#" class="menuAnchor">Ropa de baño</a></li>
            <li><a href="#" class="menuAnchor">Ropa interior</a></li>
        </ul>


    </div>

    <ul>
        <li>
            <a href="#" class="menuAnchor">YEAHHH!</a>


        </li>
    </ul>

</div>