.imgContainer {
  max-width: 100px;
  margin: auto;
  margin-top: 12px;
  /* border: 1px solid blue; */
}

.categoriesContainer {
  margin-top: 32px;
  border: 1px solid blue;
}

.categoriesContainer * {
  max-width: fit-content;
  margin: auto;
}

.mainMenu {
  max-width: 100%;
  /* border: 1px solid green; */
}

.categoriesContainer li {
  border: 1px solid white;
  /* border: 1px solid black; */
  margin-bottom: 8px;
}

.menuAnchor {
  border: 1px solid hotpink;
  border-radius: 4px;
  padding: 2px 4px;
}

.menuAnchor:hover {
  background-color: black;
  color: hotpink;
  text-decoration: line-through white;
}

.subMenu {
  display: none;
}

.shirts:hover {
  max-width: 100%;
  margin-bottom: 0px;
}

.shirts:hover .subMenu {
  display: block;
  margin-top: 8px;
  margin-bottom: 20px;
}
